<div class="card mt-5" id="editPost">
    <div class="card-header bg-dark text-light">
        <h2>Edit Post</h2>
    </div>
    <div class="card-body bg-success">
        <form class="form post-form" data-blogid="{{blog.id}}">
            <div class="form-group">
                <label for="title" class="form-label">Post Title</label>
                <input class="form-control" type="text" id="title" name="title" value="{{blog.title}}"/>
            </div>
            <div class="form-group">
                <label for="content" class="form-label">Content</label>
                <textarea id="content" type="text" class="form-control" name="content">{{blog.content}}</textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-warning m-2">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/editPost.js"></script>