<div class="card mt-5">
    <div class="card-header bg-dark text-light">
        <h2>Create Post</h2>
    </div>
    <div class="card-body bg-success">
        <form class="form post-form">
            <div class="form-group">
                <label for="reviewTitle" class="form-label">Post Title</label>
                <input class="form-control" type="text" name="reviewTitle"/>
            </div>
            <div class="form-group">
                <label for="body" class="form-label">Content</label>
                <textarea id="body" type="text" class="form-control" name="body"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-warning m-2">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/newPost.js"></script>